* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Geologica', sans-serif;
}

th, td{
    padding: 0 20px;
}


#del {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#del:hover {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    transform: scale(1.5);
}


#chang {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#chang:hover {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    transform: scale(1.8);
}

button.wijzig {
    border: none;
    background: none;
}

button.wijzig a {
    border: none;
    background: none;
    color: black;
    transition: all .3s ease-in-out;
}

del.wijzig {
    border: none;
    background: none;
}

del.wijzig a {
    border: none;
    background: none;
    color: black;
    transition: all .3s ease-in-out;
}
