input, select {
    height: 60px;
    width: 260px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    background: #f1f1f1;
}

form {
    background: white;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    margin: 10px auto;
}
.opslaan {
    margin-top: 10px;
    background: #dcb64c;
    color: white;
    font-size: x-large;
    font-weight: bold;
}
